In [1]:
import pandas as pd
import random as rnd

In [3]:
aircrafts = {'PYT001' : 'Airbus 320',
          'PYT002' : 'Boeing 737',
          'PYT003' : 'Airbus 321'}

In [4]:
aircrafts_series = pd.Series(aircrafts)

In [18]:
flight_list = []
for i in range(100):
    flight = rnd.choice(list(aircrafts_series.index))
    flight_list.append(flight)

In [19]:
flight_list[:5]

['PYT001', 'PYT003', 'PYT002', 'PYT003', 'PYT002']

In [20]:
flights_series = pd.Series(flight_list)
flights_series.head()

0    PYT001
1    PYT003
2    PYT002
3    PYT003
4    PYT002
dtype: object

In [21]:
flights_aircraft_series = flights_series.map(aircrafts_series)
flights_aircraft_series.head()

0    Airbus 320
1    Airbus 321
2    Boeing 737
3    Airbus 321
4    Boeing 737
dtype: object