In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv('../Labs files/course-files/countries.csv', usecols=['Symbol','Name'],
                        index_col=['Symbol']).squeeze()

In [3]:
countries.name = 'Countries'

In [4]:
countries.iloc[1]

'Albania'

In [5]:
countries1 = pd.read_csv('../Labs files/course-files/countries.csv', on_bad_lines='skip',
                         index_col='Symbol').squeeze()

In [6]:
countries1.name='Countries1'

In [7]:
countries.size

245

In [8]:
countries1.size

234

In [9]:
merged = pd.merge(countries,countries1, right_index=True, left_index=True)

In [10]:
merged.head()

                   Countries            Countries1
Symbol
AD                   Andorra               Andorra
AE      United Arab Emirates  United Arab Emirates
AF               Afghanistan           Afghanistan
AG       Antigua and Barbuda   Antigua and Barbuda
AI                  Anguilla              Anguilla

In [11]:
l = list(countries)
l1 = list(countries1)

In [12]:
set(l) - set(l).intersection(l1)

{'Bonaire',
 'Iran',
 'Korea',
 'Lao',
 'Macedonia',
 'Micronesia',
 'Moldova',
 'Palestinian Territory',
 'Taiwan',
 'Tanzania'}

In [13]:
difference = []
for c in countries.values:
    if c not in countries1.values:
            difference.append(c)

In [14]:
difference

['Bonaire',
 nan,
 'Iran',
 'Korea',
 'Lao',
 'Macedonia',
 'Micronesia',
 'Moldova',
 nan,
 'Palestinian Territory',
 'Korea',
 nan,
 'Taiwan',
 'Tanzania']

In [15]:
difference1 = []
for c in countries1.values:
    if c not in countries.values:
            difference1.append(c)

In [16]:
difference1

[nan, nan, nan]

In [17]:
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Countries, dtype: object

In [18]:
countries.at['FR']

'France'

In [19]:
countries.loc['FR']

'France'

In [20]:
countries.iat[13]

'Austria'

In [21]:
countries.iloc[13]

'Austria'

In [38]:
nordic =[]
for i in list(countries.loc[['SE', 'FI','NO']]):
    nordic.append(i)

In [39]:
nordic

['Sweden', 'Finland', 'Norway']

In [40]:
nordic_series = pd.Series(nordic)

In [55]:
nordic_series.iloc[:]

0     Sweden
1    Finland
2     Norway
dtype: object

In [51]:
nordic_series.get(0)

'Sweden'

In [57]:
nor = ['SE', 'FI','NO']
countries.loc[nor]

Symbol
SE     Sweden
FI    Finland
NO     Norway
Name: Countries, dtype: object