In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import math

In [16]:
countries = ['Albania','Austria','Belarus', 'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic',
             'Denmark','Estonia', 'Finland','France','Germany','Greece','Hungary','Iceland','Ireland',
             'Italy', 'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
             'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden',
             'Switzerland','United Kingdom','Turkey','Ukraine']
energy2010 = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876, 51440,
               5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551, 6410,4359,6521,
               5707,14934,8175,2498,3550,5701]
energy2012 = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919, 53203,
               5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604, 6617,4387,6778,
               5573,14290,7886,2794,3641,5452]

In [17]:
countries_series = pd.Series(countries)
energy2010_series = pd.Series(energy2010)
energy2012_series = pd.Series(energy2012)

In [20]:
mean_2010 = energy2010_series.mean()
mean_2010

7779.8421052631575

In [21]:
mean_2012 = energy2012_series.mean()
mean_2012

7706.815789473684

In [38]:
a_m_2010 = energy2010_series>mean_2010
energy2010_series.where(a_m_2010)

0         NaN
1      8347.0
2         NaN
3      8369.0
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10    16483.0
11        NaN
12        NaN
13        NaN
14        NaN
15    51440.0
16        NaN
17        NaN
18        NaN
19        NaN
20    16830.0
21        NaN
22        NaN
23        NaN
24        NaN
25    24891.0
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33    14934.0
34     8175.0
35        NaN
36        NaN
37        NaN
dtype: float64

In [42]:
energy2012_series.where(a_m_2012)

0         NaN
1      8507.0
2         NaN
3      7987.0
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10    15687.0
11        NaN
12        NaN
13        NaN
14        NaN
15    53203.0
16        NaN
17        NaN
18        NaN
19        NaN
20    14696.0
21        NaN
22        NaN
23        NaN
24        NaN
25    23658.0
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33    14290.0
34     7886.0
35        NaN
36        NaN
37        NaN
dtype: float64

In [40]:
a_m_2010 = energy2010_series>mean_2010
countries_series.where(a_m_2010)

0             NaN
1         Austria
2             NaN
3         Belgium
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10        Finland
11            NaN
12            NaN
13            NaN
14            NaN
15        Iceland
16            NaN
17            NaN
18            NaN
19            NaN
20     Luxembourg
21            NaN
22            NaN
23            NaN
24            NaN
25         Norway
26            NaN
27            NaN
28            NaN
29            NaN
30            NaN
31            NaN
32            NaN
33         Sweden
34    Switzerland
35            NaN
36            NaN
37            NaN
dtype: object

In [41]:
countries_series.where(a_m_2012)

0             NaN
1         Austria
2             NaN
3         Belgium
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10        Finland
11            NaN
12            NaN
13            NaN
14            NaN
15        Iceland
16            NaN
17            NaN
18            NaN
19            NaN
20     Luxembourg
21            NaN
22            NaN
23            NaN
24            NaN
25         Norway
26            NaN
27            NaN
28            NaN
29            NaN
30            NaN
31            NaN
32            NaN
33         Sweden
34    Switzerland
35            NaN
36            NaN
37            NaN
dtype: object

In [43]:
b_m_2010 = energy2010_series<mean_2010
countries_series.where(b_m_2010)

0            Albania
1                NaN
2            Belarus
3                NaN
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
10               NaN
11            France
12           Germany
13            Greece
14           Hungary
15               NaN
16           Ireland
17             Italy
18            Latvia
19         Lithuania
20               NaN
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
25               NaN
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
33               NaN
34               NaN
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

In [46]:
countries_series.where(b_m_2010 & a_m_2012)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
dtype: object