In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import math

In [33]:
education = pd.read_csv('../Labs files/course-files/StackOverflowDeveloperSurvey.csv',
                        usecols=['FormalEducation'])

In [34]:
education

                                         FormalEducation
0                                       Secondary school
1      Some college/university study without earning ...
2                                      Bachelor's degree
3                                        Doctoral degree
4                                        Master's degree
...                                                  ...
51387                                  Bachelor's degree
51388                                    Master's degree
51389  Some college/university study without earning ...
51390                                  Bachelor's degree
51391                                  Bachelor's degree

[51392 rows x 1 columns]

In [35]:
type(education)

pandas.core.frame.DataFrame

In [36]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [37]:
series_education = pd.read_csv('../Labs files/course-files/StackOverflowDeveloperSurvey.csv',
                        usecols=['FormalEducation']).squeeze()

In [39]:
type(series_education)

pandas.core.series.Series

In [40]:
series_education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [43]:
all_info = pd.read_csv('../Labs files/course-files/StackOverflowDeveloperSurvey.csv')

In [45]:
all_info.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
series_country = all_info['Country']

In [47]:
type(series_country)

pandas.core.series.Series

In [55]:
filter_only_USA = series_country == 'United States'

In [68]:
only_USA=series_country.where(filter_only_USA).dropna()

In [69]:
only_USA

0        United States
3        United States
6        United States
10       United States
15       United States
             ...
51380    United States
51381    United States
51384    United States
51387    United States
51390    United States
Name: Country, Length: 11455, dtype: object

In [72]:
only_USA.size/series_country.size*100

22.289461394769614

In [73]:
only_USA=series_country.where(filter_only_USA)

In [80]:
series_education.where(filter_only_USA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object