In [1]:
import pandas as pd

In [3]:
countries = pd.read_csv('../Labs files/course-files/StackOverflowDeveloperSurvey.csv',
                    usecols=['Country']).dropna()

In [4]:
countries.head()

          Country
0   United States
1  United Kingdom
2  United Kingdom
3   United States
4     Switzerland

In [5]:
'Spain' in countries

False

In [6]:
'Spain' in countries.values

True

In [7]:
"Wonderland" in countries.values

False