In [3]:
import pandas as pd
import os
os.getcwd()

'/Users/wojciechflak/PycharmProjects/Udemy_PANDAS/Labs'

In [8]:
fuel = pd.read_csv('/Users/wojciechflak/PycharmProjects/Udemy_PANDAS/Labs files/course-files/fuel.csv',
                  low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type',
                                             'Combined MPG (FT1)'])

In [51]:
fuel.tail()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [11]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [18]:
fuel.dtypes

Vehicle ID              int64
Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [17]:
fuel.dtypes.value_counts()

object     4
int64      2
float64    1
dtype: int64

In [22]:
fuel['Make'].value_counts().head(10)

Chevrolet        3389
Ford             2721
Dodge            2361
GMC              2174
Toyota           1599
BMW              1180
Nissan           1082
Mercedes-Benz     948
Mitsubishi        937
Pontiac           893
Name: Make, dtype: int64

In [25]:
fuel.index

RangeIndex(start=0, stop=31684, step=1)

In [28]:
fuel.columns

Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [31]:
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21.0],
       ...,
       [32065, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32064, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32106, 2012, 'Mitsubish', ..., nan, nan, nan]], dtype=object)

In [32]:
fuel.shape

(31684, 7)

In [36]:
fuel.count()

Vehicle ID            31684
Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [37]:
len(fuel)

31684

In [40]:
fuel.axes

[RangeIndex(start=0, stop=31684, step=1),
 Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
        'Combined MPG (FT1)'],
       dtype='object')]

In [60]:
fuel.isna().value_counts()

Vehicle ID  Year   Make   Model  Class  Fuel Type  Combined MPG (FT1)
False       False  False  False  False  False      False                 31683
                          True   True   True       True                      1
dtype: int64