In [2]:
import pandas as pd
import numpy as np
surveys = pd.read_csv('../Labs files/course-files/StackOverflowDeveloperSurvey2018.csv', low_memory=False,
                  usecols=['Country','Gender','OperatingSystem'])
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [4]:
surveys['Country'].is_unique

False

In [10]:
surveys.Country.nunique()

183

In [12]:
surveys.Country.unique()[:20]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

In [14]:
len(surveys.Country.unique())

184

In [13]:
surveys[~surveys['Country'].duplicated()].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [17]:
surveys.drop_duplicates(subset=['Country','OperatingSystem'],inplace=True)
surveys.query("Country == 'Poland'").head()

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN