In [1]:
import pandas as pd

fuel = pd.read_csv('../Labs files/course-files/fuel.csv',
                  usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'],
                  index_col=['Year','Make','Model'])
fuel.head()

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo GT V6 2.5                   0.0               0.0
                GT V6 2.5                   0.0               0.0
                Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0
     AM General DJ Po Vehicle 2WD           0.0               0.0

In [7]:
fuel.loc[(1984, 'Alfa Romeo')]

/var/folders/rz/24qlfvg126sfp2zf4589lt9h0000gn/T/ipykernel_24517/3516270632.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  fuel.loc[(1984, 'Alfa Romeo')]

                    Range (FT1)  City Range (FT1)
Model
GT V6 2.5                   0.0               0.0
GT V6 2.5                   0.0               0.0
Spider Veloce 2000          0.0               0.0
Spider Veloce 2000          0.0               0.0

In [9]:
fuel.loc[(1984, 'Alfa Romeo','Spider Veloce 2000')]

/var/folders/rz/24qlfvg126sfp2zf4589lt9h0000gn/T/ipykernel_24517/270473644.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  fuel.loc[(1984, 'Alfa Romeo','Spider Veloce 2000')]

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [10]:
fuel.loc[(1984, 'Alfa Romeo','Spider Veloce 2000'), 'Range (FT1)']

/var/folders/rz/24qlfvg126sfp2zf4589lt9h0000gn/T/ipykernel_24517/3800564402.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  fuel.loc[(1984, 'Alfa Romeo','Spider Veloce 2000'), 'Range (FT1)']

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64

In [11]:
fuel = fuel.transpose()
fuel.head()

Year                   1984                                                  \
Make             Alfa Romeo
Model             GT V6 2.5 GT V6 2.5 Spider Veloce 2000 Spider Veloce 2000
Range (FT1)             0.0       0.0                0.0                0.0
City Range (FT1)        0.0       0.0                0.0                0.0

Year                                                                   \
Make                    AM General
Model            DJ Po Vehicle 2WD DJ Po Vehicle 2WD FJ8c Post Office
Range (FT1)                    0.0               0.0              0.0
City Range (FT1)               0.0               0.0              0.0

Year                                                                     ...  \
Make                              American Motors Corporation            ...
Model            FJ8c Post Office                   Eagle 4WD Eagle 4WD  ...
Range (FT1)                   0.0                         0.0       0.0  ...
City Range (FT1)              0.0                         0.0       0.0  ...

Year                   2012                                                \
Make             Mitsubishi
Model                i-MiEV Lancer Lancer Lancer Lancer Lancer Lancer AWD
Range (FT1)         62.0000    0.0    0.0    0.0    0.0    0.0        0.0
City Range (FT1)    68.5545    0.0    0.0    0.0    0.0    0.0        0.0

Year
Make                                               Mitsubish
Model            Lancer Evolution Lancer Evolution       NaN
Range (FT1)                   0.0              0.0       NaN
City Range (FT1)              0.0              0.0       NaN

[2 rows x 31684 columns]

In [12]:
fuel.loc['Range (FT1)']

Year  Make        Model
1984  Alfa Romeo  GT V6 2.5             0.0
                  GT V6 2.5             0.0
                  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
      AM General  DJ Po Vehicle 2WD     0.0
                                       ...
2012  Mitsubishi  Lancer                0.0
                  Lancer AWD            0.0
                  Lancer Evolution      0.0
                  Lancer Evolution      0.0
      Mitsubish   NaN                   NaN
Name: Range (FT1), Length: 31684, dtype: float64

In [13]:
fuel.loc['Range (FT1)',(1984)]

Make        Model
Alfa Romeo  GT V6 2.5             0.0
            GT V6 2.5             0.0
            Spider Veloce 2000    0.0
            Spider Veloce 2000    0.0
AM General  DJ Po Vehicle 2WD     0.0
                                 ...
Volvo       760 GLE               0.0
            760 GLE               0.0
            760 GLE               0.0
            760 GLE               0.0
            760 GLE               0.0
Name: Range (FT1), Length: 1964, dtype: float64

Make             Alfa Romeo                                                  \
Model             GT V6 2.5 GT V6 2.5 Spider Veloce 2000 Spider Veloce 2000
Range (FT1)             0.0       0.0                0.0                0.0
City Range (FT1)        0.0       0.0                0.0                0.0

Make                    AM General                                     \
Model            DJ Po Vehicle 2WD DJ Po Vehicle 2WD FJ8c Post Office
Range (FT1)                    0.0               0.0              0.0
City Range (FT1)               0.0               0.0              0.0

Make                              American Motors Corporation            ...  \
Model            FJ8c Post Office                   Eagle 4WD Eagle 4WD  ...
Range (FT1)                   0.0                         0.0       0.0  ...
City Range (FT1)              0.0                         0.0       0.0  ...

Make                             Volvo                                  \
Model            240 DL/GL/Turbo Wagon 760 GLE 760 GLE 760 GLE 760 GLE
Range (FT1)                        0.0     0.0     0.0     0.0     0.0
City Range (FT1)                   0.0     0.0     0.0     0.0     0.0

Make
Model            760 GLE 760 GLE 760 GLE 760 GLE 760 GLE
Range (FT1)          0.0     0.0     0.0     0.0     0.0
City Range (FT1)     0.0     0.0     0.0     0.0     0.0

[2 rows x 1964 columns]

In [17]:
fuel.loc['Range (FT1)',(1984,'Alfa Romeo')]

/var/folders/rz/24qlfvg126sfp2zf4589lt9h0000gn/T/ipykernel_24517/3767641054.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  fuel.loc['Range (FT1)',(1984,'Alfa Romeo')]

Model
GT V6 2.5             0.0
GT V6 2.5             0.0
Spider Veloce 2000    0.0
Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64

In [18]:
fuel.loc['Range (FT1)',(1984,'Alfa Romeo','Spider Veloce 2000')]

/var/folders/rz/24qlfvg126sfp2zf4589lt9h0000gn/T/ipykernel_24517/827496175.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  fuel.loc['Range (FT1)',(1984,'Alfa Romeo','Spider Veloce 2000')]

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64